annotated-types==0.5.0 ; python_version >= "3.7" and python_version < "4.0"
atomicwrites==1.4.1 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
attrs==23.1.0 ; python_version >= "3.7" and python_version < "4.0"
cfgv==3.3.1 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
coverage==5.5 ; python_version >= "3.7" and python_version < "4"
distlib==0.3.6 ; python_version >= "3.7" and python_version < "4.0"
filelock==3.12.2 ; python_version >= "3.7" and python_version < "4.0"
identify==2.5.24 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==6.7.0 ; python_version >= "3.7" and python_version < "3.8"
iniconfig==2.0.0 ; python_version >= "3.7" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.7" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.7" and python_version < "4.0"
platformdirs==3.8.1 ; python_version >= "3.7" and python_version < "4.0"
pluggy==1.2.0 ; python_version >= "3.7" and python_version < "4.0"
pre-commit==2.14.0 ; python_version >= "3.7" and python_version < "4.0"
py==1.11.0 ; python_version >= "3.7" and python_version < "4.0"
pydantic-core==2.1.2 ; python_version >= "3.7" and python_version < "4.0"
pydantic==2.0.2 ; python_version >= "3.7" and python_version < "4.0"
pytest-mock==3.5.1 ; python_version >= "3.7" and python_version < "4.0"
pytest==6.2.5 ; python_version >= "3.7" and python_version < "4.0"
python-multipart==0.0.5 ; python_version >= "3.7" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.7" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.7" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.7" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "4.0"
virtualenv==20.23.1 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "3.8"
